body {
	background: url('../images/the_dark_knight.jpg');
	background-size: cover;
	
}
header {
	overflow: hidden;
}
.logo {
	width: 50%;
}
header .input-group {
	padding-top: 2%;
}
header .icons {
	padding-top: 1.8%;
    padding-left: 12%;
}
header,
.header-2 {
	border-bottom: 1px solid rgba(175, 175, 175, 0.98);
}
header .icons span {
	color: #fff;
    padding: 0 15px 0 15px;
    font-size: 15px;
}
.header-2,
.main-content {
	padding-top: 1%;
	padding-bottom: 1%;
}
.header-2 .btn-default{
	background-color: transparent;
	color: #fff;
	border-color: transparent;
}
.header-2 .open>.dropdown-toggle.btn-default:focus,
.header-2 .dropdown-toggle.btn-default:hover,
.header-2 .dropdown-toggle.btn-default:focus{
	background-color: transparent;
	color: #fff;
	border-color: transparent;
}
.main-content .list-group-item {
	background-color: transparent;
	border: none;
	color: #fff;
}
.main-content .list-group-item:first-child {
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
}
.main-content .list-group-item:last-child {
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
}
.main-content .compose {
	width: 100%;
	border-radius: 0px;
}
/* #inbox td {
  overflow: hidden; this is what fixes the expansion
  text-overflow: ellipsis; not supported in all browsers, but I accepted the tradeoff
  white-space: nowrap;
} */
#inbox {
	color: white;
} 